html, body{
  min-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, rgb(117, 111, 103) 10%, rgb(48, 37, 19) 30%);
  /*background-color: rgb(166, 203, 197);*/
  
  scroll-behavior: smooth;
}

*{
  outline: 1px solid red;
}

/* Background image */
#bg{
  display: flex;
  justify-content: flex-end;
  min-height: 100vh;
  opacity: 35%;
  
 /* opacity: 75%;*/
}
.background-img{
  display: flex;
  min-height: 100vh;
  object-fit: cover;
  
}

/* Join button */
.button-div{
  display: flex;

  padding: 0;
  margin: 0;
  position: absolute;
  top: 0px;
}
#join-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19%;
  height: 40px;
  border-radius: 5pc;
  color: white;
  background-color: rgb(76, 69, 51);
  transition: .7s ease;
  font-size: 20px;
}
#join-btn:hover{
  cursor: pointer;
  color: rgb(22, 31, 41);
  background-color: rgb(255, 255, 255);
  transform: scale(0.8);
}

/* Text  */
#text-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  position: absolute;
  top: 0px;
  
}
#txt-1{ /* start your sub */
  color:white;
  font-size: 25px;
  display: flex;
  margin: auto;
}
#txt-2{ /* £4.99 monthly */
  color: white;
  font-size: 28px;
  display: flex;
   margin: auto;
}

/* Top left logo */
.logo{
  width: 60px;
  display:flex;
  justify-content: baseline;
}
.nav-bar{ /* logo div */
  display: flex;
  justify-content: baseline;
  position: absolute;
  top: 10px;
  left: 10px;
}