html, body{
  min-height: 600px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, rgb(117, 111, 103) 10%, rgb(48, 37, 19) 30%);
  /*background-color: rgb(166, 203, 197);*/
  font-family: 'Pacifico', cursive;
  scroll-behavior: smooth;
  /*Overflow-y:scroll*/
}

/* I only used this to test the spacing around the content. I wanted to fix the height....*{

  outline: 1px solid red;

}*/

/* Top left logo */
.logo{
  width: 8%;
  display:flex;
  justify-content: baseline;
  position: absolute;
  bottom: 48pc;
  left: 11%;
}
.nav-bar{ /* logo div */
  display: flex;
  justify-content: baseline;
  position: relative;
  top: 10px;
  font-size: 25px;
}
.nav-bar span:hover{
  color: #9A7BAF;
  cursor: pointer;
  transform: rotate(20deg);

}
.nav-bar-home{
  color: white;
  position: absolute;
  bottom: 55pc;
  left: 55%;
}
.nav-bar-about{
  color: white;
  position: absolute;
  bottom: 55pc;
  left: 60%;
}
.nav-bar-product{
  color: white;
  position: absolute;
  bottom: 55pc; 
  left: 65%;                
}
.nav-bar-contact{
  color: white;
  position: absolute;
  bottom: 55pc;
  left: 71%;
}

/* Background image */
#bg{
  display: flex;
  justify-content: flex-end;
  min-height: 100vh;
  opacity: 35%;
  
}
.background-img{
  display: flex;
  min-height: 100vh;
  object-fit: cover;
}

/* Join button */
.button-div{
  display: flex;
  position: relative;
}
#join-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19%;
  height: 40px;
  border-radius: 50px;
  color: white;
  background-color: rgb(76, 69, 51);
  transition: .7s ease;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 5%;
  font-family: 'Pacifico', cursive;
}
#join-btn:hover{
  cursor: pointer;
  color: rgb(22, 31, 41);
  background-color: rgb(255, 255, 255);
  transform: scale(0.8);
}

/* Text  */
#text-div{
  
  justify-content: space-between;
  align-items: center;
  width: 35%;
  position: relative;
  top: 90px;
}
#txt-1{ /* start your sub */
  color:white;
  font-size: 40px;
  width: 100%;
  display: flex;
  margin: auto;
  position: absolute;
  bottom: 46pc;
  left: 4%;
}
#txt-2{ /* £4.99 monthly */
  color: white;
  font-size: 40px;
  display: flex;
  margin: auto;
  position: absolute;
  bottom: 40pc;
  left: 8%;
}



.txtBox-div{
  width: 50%;
  height: 50%;
  background-color: rgba(210, 105, 30, 0.105);
  font-family: 'Inspiration', cursive;
  position: absolute;
  top: 25%;
  left: 40%;
  opacity: 100%;
}
.txtBox-txt{
  font-size: 83px;
  color: wheat;
}


.learnMore-div{
  width: 9%;
  height: 50px;
  position: relative;
  outline: 5px solid white;
  bottom: 14pc;
  left: 80%;
  padding-left: 10px;
}
.learnMore-txt{
  font-size: 30px;
  color: white;
}
.learnMore-div:hover{
  cursor: pointer;
  outline: 5px solid rgba(227, 160, 113, 0.41);
}
.learnMore-txt:hover{
  color: rgba(227, 160, 113, 0.41);
}


/* Social Media logos */
.smLogo{
  position: relative;
  bottom: 25pc;
  width: 60%;
  left: 9%;
}
.fb{
  position: absolute;
  width: 5%;
  left: -3%;
  transition: .2s ease;
}
.fb:hover{
  transform: scale(0.8);
  cursor: pointer;
}
.insta{
  position: absolute;
  width: 5%;
  left: 4%;
  transition: .2s ease;
}
.insta:hover{
  transform: scale(0.8);
  cursor: pointer;
}
.tw{
  position: absolute;
  width: 5%;
  left: 11%;
  transition: .2s ease;
}
.tw:hover{
  transform: scale(0.8);
  cursor: pointer;
}
.email{
  position: absolute;
  width: 5%;
  left: 18%;
  transition: .2s ease;
}
.email:hover{
  transform: scale(0.8);
  cursor: pointer;
}
























/* Responsive Code */


@media only screen and (max-width: 1920px){ 
  html, body{
    min-height: 600px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, rgb(117, 111, 103) 10%, rgb(48, 37, 19) 30%);
    /*background-color: rgb(166, 203, 197);*/
    font-family: 'Pacifico', cursive;
    scroll-behavior: smooth;
  }

  .logo{
    width: 8%;
    display:flex;
    justify-content: baseline;
    position: absolute;
    bottom: 51pc;
    left: 11%;
  }
  .nav-bar{ /* logo div */
    display: flex;
    justify-content: baseline;
    position: relative;
    top: -50px;
    font-size: 25px;
  }
  .nav-bar span:hover{
    color: #9A7BAF;
    cursor: pointer;
    transform: rotate(20deg);
  
  }
  .nav-bar-home{
    color: white;
    position: absolute;
    bottom: 55pc;
    left: 50%;
  }
  .nav-bar-about{
    color: white;
    position: absolute;
    bottom: 55pc;
    left: 56%;
  }
  .nav-bar-product{
    color: white;
    position: absolute;
    bottom: 55pc; 
    left: 62.5%;                
  }
  .nav-bar-contact{
    color: white;
    position: absolute;
    bottom: 55pc;
    left: 70%;
  }
  
  /* Background image */
  #bg{
    display: flex;
    justify-content: flex-end;
    height: 100%;
    opacity: 35%;

    
  }
  .background-img{
    display: flex;
    object-fit: cover;

  }
  
  /* Join button */
  .button-div{
    display: flex;
    position: absolute;
  }
  #join-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 40px;
    border-radius: 50px;
    color: white;
    background-color: rgb(76, 69, 51);
    transition: .7s ease;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 6%;
    font-family: 'Pacifico', cursive;
  }
  #join-btn:hover{
    cursor: pointer;
    color: rgb(22, 31, 41);
    background-color: rgb(255, 255, 255);
    transform: scale(0.8);
  }
  
  /* Text  */
  #text-div{
    
    justify-content: space-between;
    align-items: center;
    width: 35%;
    position: relative;
    top: 90px;
  }
  #txt-1{ /* start your sub */
    color:white;
    font-size: 39px;
    width: 100%;
    display: flex;
    margin: auto;
    position: absolute;
    bottom: 45pc;
    left: 4%;
  }
  #txt-2{ /* £4.99 monthly */
    color: white;
    font-size: 40px;
    display: flex;
    margin: auto;
    position: absolute;
    bottom: 38pc;
    left: 8%;
  }
  
  
  
  .txtBox-div{
    width: 59%;
    height: 57%;
    background-color: rgba(210, 105, 30, 0.105);
    font-family: 'Inspiration', cursive;
    position: absolute;
    top: 25%;
    left: 40%;
    opacity: 100%;
    text-align: center;
  }
  .txtBox-txt{
    font-size: 83px;
    color: wheat;
  }
  
  
  .learnMore-div{
    width: 12%;
    height: 50px;
    position: relative;
    outline: 5px solid white;
    bottom: 9pc;
    left: 86%;
    padding-left: 10px;
  }
  .learnMore-txt{
    font-size: 30px;
    color: white;
   
  }
  .learnMore-div:hover{
    cursor: pointer;
    outline: 5px solid rgba(227, 160, 113, 0.41);
  }
  .learnMore-txt:hover{
    color: rgba(227, 160, 113, 0.41);
  }
  
  
  /* Social Media logos */
  .smLogo{
    position: relative;
    bottom: 12pc;
    width: 60%;
    left: 12%;
  }
  .fb{
    position: absolute;
    width: 5%;
    left: -3%;
    transition: .2s ease;
  }
  .fb:hover{
    transform: scale(0.8);
    cursor: pointer;
  }
  .insta{
    position: absolute;
    width: 5%;
    left: 6%;
    transition: .2s ease;
  }
  .insta:hover{
    transform: scale(0.8);
    cursor: pointer;
  }
  .tw{
    position: absolute;
    width: 5%;
    left: 14%;
    transition: .2s ease;
  }
  .tw:hover{
    transform: scale(0.8);
    cursor: pointer;
  }
  .email{
    position: absolute;
    width: 5%;
    left: 22%;
    transition: .2s ease;
  }
  .email:hover{
    transform: scale(0.8);
    cursor: pointer;
  }
}

@media only screen and (max-width: 1440px){ 
  html, body{
    min-height: 600px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, rgb(117, 111, 103) 10%, rgb(48, 37, 19) 30%);
    /*background-color: rgb(166, 203, 197);*/
    font-family: 'Pacifico', cursive;
    scroll-behavior: smooth;
  }
  .logo{
    width: 8%;
    display:flex;
    justify-content: baseline;
    position: absolute;
    bottom: 52pc;
    left: 15%;
  }
  .nav-bar{ /* logo div */
    display: flex;
    justify-content: baseline;
    position: relative;
    top: 90px;
    font-size: 25px;
  }
  .nav-bar span:hover{
    color: #5c65e4;
    cursor: pointer;
    transform: rotate(20deg);
  
  }
  .nav-bar-home{
    color: white;
    position: absolute;
    bottom: 55pc;
    left: 50%;
  }
  .nav-bar-about{
    color: white;
    position: absolute;
    bottom: 55pc;
    left: 56%;
  }
  .nav-bar-product{
    color: white;
    position: absolute;
    bottom: 55pc; 
    left: 62.5%;                
  }
  .nav-bar-contact{
    color: white;
    position: absolute;
    bottom: 55pc;
    left: 70%;
  }
  
  /* Background image */
  #bg{
    display: flex;
    justify-content: flex-end;
    height: 100%;
    opacity: 35%;
    
  }
  .background-img{
    display: flex;
    object-fit: cover;
    width: 50%;
  }
  
  /* Join button */
  .button-div{
    display: flex;
    position: absolute;
  }
  #join-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 40px;
    border-radius: 50px;
    color: white;
    background-color: rgb(76, 69, 51);
    transition: .7s ease;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 6%;
    font-family: 'Pacifico', cursive;
  }
  #join-btn:hover{
    cursor: pointer;
    color: rgb(22, 31, 41);
    background-color: rgb(255, 255, 255);
    transform: scale(0.8);
  }
  
  /* Text  */
  #text-div{
    
    justify-content: space-between;
    align-items: center;
    width: 35%;
    position: relative;
    top: 90px;
  }
  #txt-1{ /* start your sub */
    color:white;
    font-size: 39px;
    width: 100%;
    display: flex;
    margin: auto;
    position: absolute;
    bottom: 45pc;
    left: 4%;
  }
  #txt-2{ /* £4.99 monthly */
    color: white;
    font-size: 40px;
    display: flex;
    margin: auto;
    position: absolute;
    bottom: 38pc;
    left: 8%;
  }
  
  
  
  .txtBox-div{
    width: 59%;
    height: 57%;
    background-color: rgba(210, 105, 30, 0.105);
    font-family: 'Inspiration', cursive;
    position: absolute;
    top: 25%;
    left: 40%;
    opacity: 100%;
    text-align: center;
  }
  .txtBox-txt{
    font-size: 83px;
    color: wheat;
  }
  
  
  .learnMore-div{
    width: 12%;
    height: 50px;
    position: relative;
    outline: 5px solid white;
    bottom: 9pc;
    left: 86%;
    padding-left: 10px;
  }
  .learnMore-txt{
    font-size: 30px;
    color: white;
   
  }
  .learnMore-div:hover{
    cursor: pointer;
    outline: 5px solid rgba(227, 160, 113, 0.41);
  }
  .learnMore-txt:hover{
    color: rgba(227, 160, 113, 0.41);
  }
  
  
  /* Social Media logos */
  .smLogo{
    position: relative;
    bottom: 12pc;
    width: 60%;
    left: 12%;
  }
  .fb{
    position: absolute;
    width: 5%;
    left: -3%;
    transition: .2s ease;
  }
  .fb:hover{
    transform: scale(0.8);
    cursor: pointer;
  }
  .insta{
    position: absolute;
    width: 5%;
    left: 6%;
    transition: .2s ease;
  }
  .insta:hover{
    transform: scale(0.8);
    cursor: pointer;
  }
  .tw{
    position: absolute;
    width: 5%;
    left: 14%;
    transition: .2s ease;
  }
  .tw:hover{
    transform: scale(0.8);
    cursor: pointer;
  }
  .email{
    position: absolute;
    width: 5%;
    left: 22%;
    transition: .2s ease;
  }
  .email:hover{
    transform: scale(0.8);
    cursor: pointer;
  }
}


@media only screen and (max-width: 810px){ 
  html, body{
    min-height: 600px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, rgb(117, 111, 103) 10%, rgb(48, 37, 19) 30%);
    /*background-color: rgb(166, 203, 197);*/
    font-family: 'Pacifico', cursive;
    scroll-behavior: smooth;
  }
  .nav-bar{ /* logo div */
    display: flex;
    justify-content: baseline;
    position: relative;
    top: -70px;
    font-size: 25px;
  }
  .nav-bar span:hover{
    color: #9A7BAF;
    cursor: pointer;
    transform: rotate(20deg);
  
  }
  .nav-bar-home{
    color: white;
    position: absolute;
    bottom: 55pc;
    left: 40%;
  }
  .nav-bar-about{
    color: white;
    position: absolute;
    bottom: 55pc;
    left: 51%;
  }
  .nav-bar-product{
    color: white;
    position: absolute;
    bottom: 55pc; 
    left: 62%;                
  }
  .nav-bar-contact{
    color: white;
    position: absolute;
    bottom: 55pc;
    left: 75%;
  }
  
  /* Background image */
  #bg{
    display: flex;
    justify-content: flex-end;
    min-height: 100vh;
    opacity: 35%;
    
  }
  .background-img{
    display: flex;
    min-height: 100vh;
    object-fit: cover;
  }
  
  /* Join button (Sign Up) */
  .button-div{
    display: flex;
    position: relative;
  }
  #join-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 40px;
    border-radius: 50px;
    color: white;
    background-color: rgb(76, 69, 51);
    transition: .7s ease;
    font-size: 20px;
    position: absolute;
    top: 45%;
    left: 20%;
    font-family: 'Pacifico', cursive;
  }
  #join-btn:hover{
    cursor: pointer;
    color: rgb(22, 31, 41);
    background-color: rgb(255, 255, 255);
    transform: scale(0.8);
  }
  
  /* Text  */
  #text-div{
    
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    top: 0px;
    left: 15%;
  }
  #txt-1{ /* start your sub */
    color:white;
    font-size: 40px;
    width: 100%;
    display: flex;
    margin: auto;
    position: absolute;
    bottom: 45pc;
    left: 4%;
  }
  #txt-2{ /* £4.99 monthly */
    color: white;
    font-size: 40px;
    display: flex;
    margin: auto;
    position: absolute;
    bottom: 40pc;
    left: 8%;
  }
  
  
  
  .txtBox-div{
    width: 100%;
    height: 60%;
    background-color: rgba(210, 105, 30, 0.105);
    font-family: 'Inspiration', cursive;
    position: absolute;
    top: 50%;
    left: 0%;
    opacity: 100%;
    text-align: center;
  }
  .txtBox-txt{
    font-size: 83px;
    color: wheat;
  }
  
  
  .learnMore-div{
    width: 21%;
    height: 50px;
    position: absolute;
    outline: 5px solid white;
    top: 70pc;
    left: 70%;
    padding-left: 10px;
    transition: .9s ease;
  }
  .learnMore-txt{
    font-size: 30px;
    color: white;
  }
  .learnMore-div:hover{
    cursor: pointer;
    outline: 5px solid rgba(224, 194, 172, 0.41);
    transform: scale(0.8);
  }
  .learnMore-txt:hover{
    color: rgb(224, 194, 172, 0.41);
  }
  
  
  /* Social Media logos */
  .smLogo{
    position: absolute;
    top: 70pc;
    width: 100%;
    left: 9%;
  }
  .fb{
    position: absolute;
    width: 5%;
    left: -3%;
    transition: .2s ease;
  }
  .fb:hover{
    transform: scale(0.8);
    cursor: pointer;
  }
  .insta{
    position: absolute;
    width: 5%;
    left: 4%;
    transition: .2s ease;
  }
  .insta:hover{
    transform: scale(0.8);
    cursor: pointer;
  }
  .tw{
    position: absolute;
    width: 5%;
    left: 11%;
    transition: .2s ease;
  }
  .tw:hover{
    transform: scale(0.8);
    cursor: pointer;
  }
  .email{
    position: absolute;
    width: 5%;
    left: 18%;
    transition: .2s ease;
  }
  .email:hover{
    transform: scale(0.8);
    cursor: pointer;
  }
}



@media only screen and (max-width: 391px){ 
  html, body{
    min-height: 600px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, rgb(117, 111, 103) 10%, rgb(48, 37, 19) 30%);
    /*background-color: rgb(166, 203, 197);*/
    font-family: 'Pacifico', cursive;
    scroll-behavior: smooth;
  }
  .logoDiv{
    width: 100%;
    display:flex;
    justify-content: baseline;
    position: absolute;
    bottom: 60pc;
    left: 12%;
  }

  .logo{
    width: 25%;
    display:flex;
    justify-content: baseline;
    position: absolute;
    bottom: 44pc;
    left: 20%;
  }
  .nav-bar{ /* logo div */
    display: flex;
    justify-content: baseline;
    position: relative;
    top: 0px;
    font-size: 10px;
    left: 20%;
  }
  .nav-bar span:hover{
    color: #9A7BAF;
    cursor: pointer;
    transform: rotate(20deg);
  
  }
  .nav-bar-home{
    color: white;
    position: absolute;
    bottom: 51pc;
    left: 10%;
  }
  .nav-bar-about{
    color: white;
    position: absolute;
    bottom: 51pc;
    left: 20%;
  }
  .nav-bar-product{
    color: white;
    position: absolute;
    bottom: 51pc; 
    left: 30%;                
  }
  .nav-bar-contact{
    color: white;
    position: absolute;
    bottom: 51pc;
    left: 43%;
  }
  
  /* Background image */
  #bg{
    display: flex;
    justify-content: flex-end;
    min-height: 100vh;
    opacity: 35%;
    
  }
  .background-img{
    display: flex;
    min-height: 100vh;
    object-fit: cover;
  }
  
  /* Join button */
  .button-div{
    display: flex;
    position: relative;
  }
  #join-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 40px;
    border-radius: 50px;
    color: white;
    background-color: rgb(76, 69, 51);
    transition: .7s ease;
    font-size: 20px;
    position: absolute;
    top: 45%;
    left: 25%;
    font-family: 'Pacifico', cursive;
  }
  #join-btn:hover{
    cursor: pointer;
    color: rgb(22, 31, 41);
    background-color: rgb(255, 255, 255);
    transform: scale(0.8);
  }
  
  /* Text  */
  #text-div{
    
    justify-content: space-between;
    align-items: center;
    width: 80%;
    position: relative;
    top: 80px;
  }
  #txt-1{ /* start your sub */
    color:white;
    font-size: 15px;
   
    display: flex;
    margin: auto;
    position: absolute;
    bottom: 46pc;
    left: 30%;
  }
  #txt-2{ /* £4.99 monthly */
    color: white;
    font-size: 15px;
    display: flex;
    margin: auto;
    position: absolute;
    bottom: 42pc;
    left: 33%;
    
  }
  
  
  
  .txtBox-div{
    width: 55%;
    height: 20%;
    background-color: rgba(210, 105, 30, 0.105);
    font-family: 'Inspiration', cursive;
    position: absolute;
    top: 60%;
    left: 24%;
    opacity: 100%;
    text-align: center;
  }
  .txtBox-txt{
    font-size: 20px;
    color: wheat;
  }
  
  
  .learnMore-div{
    width: 25%;
    height: 30px;
    position: relative;
    outline: 2px solid white;
    bottom: 19pc;
    left: 35%;
    padding-left: 10px;
  }
  .learnMore-txt{
    font-size: 15px;
    color: white;
  }
  .learnMore-div:hover{
    cursor: pointer;
    outline: 5px solid rgba(227, 160, 113, 0.41);
  }
  .learnMore-txt:hover{
    color: rgba(227, 160, 113, 0.41);
  }
  
  
  /* Social Media logos */
  .smLogo{
    position: relative;
    bottom: 15pc;
    width: 100%;
    left: 30%;
  }
  .fb{
    position: absolute;
    width: 10%;
    right: 4%;
    top: -15px;
    transition: .2s ease;
  }
  .fb:hover{
    transform: scale(0.8);
    cursor: pointer;
  }
  .insta{
    position: absolute;
    width: 10%;
    left: 9%;
    top: -15px;
    transition: .2s ease;
  }
  .insta:hover{
    transform: scale(0.8);
    cursor: pointer;
  }
  .tw{
    position: absolute;
    width: 10%;
    left: 20%;
    top: -15px;
    transition: .2s ease;
  }
  .tw:hover{
    transform: scale(0.8);
    cursor: pointer;
  }
  .email{
    position: absolute;
    width: 10%;
    left: 32%;
    top: -15px;
    transition: .2s ease;
  }
  .email:hover{
    transform: scale(0.8);
    cursor: pointer;
  }
}